.DS_Store

result
.direnv
.pre-commit-config.yaml

# nixago: ignore-linked-files
/treefmt.toml
/lefthook.yml
/statix.toml
/pkgs/nvfetcher.toml
/home/profiles/base/zsh/nvfetcher.toml
/home/profiles/base/nvim/nvfetcher.toml
/home/profiles/apps/librewolf/nvfetcher.toml
/home/profiles/dev/git/nvfetcher.toml
