format = """
$username[@](fg:238)$hostname in \
$directory\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$hg_branch\
$docker_context\
$package\
$cmake\
$dart\
$dotnet\
$elixir\
$elm\
$erlang\
$golang\
$java\
$kotlin\
$lua\
$nim\
$ocaml\
$php\
$python\
$ruby\
$rust\
$scala\
$swift\
$terraform\
$vagrant\
$zig\
$nix_shell\
$memory_usage\
$aws\
$gcloud\
$openstack\
$azure\
$env_var\
$custom\
$sudo\
$cmd_duration\
$time\
$battery\
$line_break\
$jobs\
$status\
$shell\
$character """

[aws]
symbol = " "

[character]
success_symbol = "[➜](bold fg:202)"
error_symbol = "[➜](bold fg:125)"

[battery]
full_symbol = ""
charging_symbol = ""
discharging_symbol = ""

[dart]
symbol = " "

[directory]
style = "fg:124"
read_only = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
format = "[$symbol$branch]($style) "
symbol = " "
style = "bold fg:250"

[git_status]
format = '([「 $all_status$ahead_behind 」]($style) )'
conflicted = " "
ahead = "${count} "
behind = "${count} "
diverged = "ﬕ "
untracked = " "
stashed = " "
modified = "δ "
staged = " "
renamed = " "
deleted = " "
style = "bold fg:250"

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[memory_usage]
symbol = " "
disabled = false

[nim]
symbol = " "

[nix_shell]
format = '[$symbol$state]($style) '
symbol = " "
pure_msg = "λ "
impure_msg = "Ψ "

[package]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[status]
format = "[$status]($style) "
style = "fg:125"
disabled = false

[username]
show_always = true
format = "# [$user]($style)"
style_user = "fg:202"
style_root = "bold fg:196"

[hostname]
ssh_only = false
format = "[$hostname]($style)"
style = "fg:125"

[time]
disabled = false
format = "at \\[[$time]($style)\\]"
style = "bold fg:250"
use_12hr = false
time_format = "%T"

[cmd_duration]
min_time = 1_000
show_milliseconds = true
style = "fg:202"
