@define-color bg rgba(11, 11, 11, 0.69);
@define-color bg-button #281C2B;
@define-color text #8B8B8B;
@define-color focused #C9C1C9;
@define-color primary #8B2950;
@define-color secondary #6D0011;
@define-color error #F85149;

* {
  color: @text;
  border: 0;
  border-radius: 0;
  font-family: "monospace", "IBM Plex Sans JP";
  font-size: 11px;
  min-height: 0px;
  min-width: 0px;
  margin: 1px 0;
}

#window {
  padding: 7px;
}

window#waybar {
  background: @bg;
  color: @text;
}

#battery.charging {
  color: @primary;
}

#battery.warning {
  color: @secondary;
}

#battery.critical {
  color: @error;
}

#tags button {
  margin: 2px 0;
  padding: 5px 0;
  border-left: 2px solid @primary;
  color: @text;
}

#tags button:hover {
  background: @bg-button;
}

#tags button.focused {
  color: @focused;
  background: @bg-button;
  border-left: 2px solid @focused;
}

#tags button.urgent {
  border-left: 2px solid @secondary;
}

#tray {
  margin: 5px;
  padding: 3px;
}

#tray menu {
  background: @bg-button;
  margin: 1px;
  padding: 1px;
}

#taskbar button {
  margin: 2px 0;
  padding: 5px 0;
  border-left: 2px solid @primary;
}

#taskbar button:hover {
  background: @bg-button;
}

#taskbar button.active {
  background: @bg-button;
  border-left: 2px solid @focused;
}

#tray,
#custom-explorer,
#custom-powermenu {
  margin: 5px;
  padding: 3px;
}

#backlight,
#battery,
#bluetooth,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#custom-active-window,
#custom-dunst,
#custom-waybar-mpris {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
}

#custom-dunst,
#custom-explorer,
#custom-powermenu {
  font-size: 13px;
  background: @bg-button;
}

#custom-active-window {
  margin-left: 8px;
}

#custom-dunst {
  margin-right: 8px;
}
